.menu {
    display: grid;
}

.menu li:hover {
    background-color: var(--mud-palette-primary-hover);
}

.menu ::deep a {
    width: 100%;
    display: block;
    text-align: center;
    padding: 12px;
    margin-bottom: 2px;
    font-size: var(--mud-typography-subtitle1-size);
    font-weight: var(--mud-typography-subtitle1-weight);
    line-height: var(--mud-typography-subtitle1-lineheight);
    letter-spacing: var(--mud-typography-subtitle1-letterspacing);
}

.menu ::deep a.active {
    color: var(--mud-palette-primary);
    border-bottom: 2px solid var(--mud-palette-primary);
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .menu {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}