@using Microsoft.Extensions.Localization
@inject NavigationManager Manager
@inject IStringLocalizer<App> L

<ul class="menu">
    <li>
        <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active">
            @L["Profile"]
        </NavLink>
    </li>
    <li>
        <NavLink href="security" Match="NavLinkMatch.Prefix" ActiveClass="active">
            @L["Security"]
        </NavLink>
    </li>
    <li>
        <NavLink href="identities" Match="NavLinkMatch.Prefix" ActiveClass="active">
            @L["Identities"]
        </NavLink>
    </li>
</ul>