@using Elwark.Account.Service.Profile
@inherits LayoutComponentBase
@inject IProfileClient Client

<MudThemeProvider Theme="_currentTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="25">
        <div class="d-flex flex-row align-end">
            <img src="https://res.cloudinary.com/elwark/image/upload/v1613019547/Elwark/white/36x36_rvcbiz.png" alt="Elwark logo">
            <MudText Typo="Typo.h5" Class="d-none d-sm-block">
                Account
            </MudText>
        </div>
        <MudAppBarSpacer/>
        <LanguageSelector/>
        <MudTooltip Text="Toggle theme">
            <MudIconButton Icon="@_themeIcon" Color="Color.Inherit" OnClick="@SwitchTheme"/>
        </MudTooltip>
    </MudAppBar>

    <MudMainContent Class="main-content">
        <CascadingProfileState>
            <CascadingInfrastructureState>
                <div class="header mb-3">
                    <div class="background"></div>
                    <MudContainer MaxWidth="MaxWidth.Medium">
                        <MainHeader Class="mt-3 mb-6"/>
                        <MainMenu/>
                    </MudContainer>
                </div>
                <MudContainer MaxWidth="MaxWidth.Medium">
                    @Body
                </MudContainer>
            </CascadingInfrastructureState>
        </CascadingProfileState>
    </MudMainContent>
</MudLayout>

@code
{
    protected override void OnInitialized() => _currentTheme = _defaultTheme;

    MudTheme _currentTheme = new();
    string _themeIcon = Icons.Filled.Brightness7;

    private void SwitchTheme()
    {
        if (_currentTheme == _defaultTheme)
        {
            _currentTheme = _darkTheme;
            _themeIcon = Icons.Filled.Brightness3;
        }
        else
        {
            _currentTheme = _defaultTheme;
            _themeIcon = Icons.Filled.Brightness7;
        }
    }

    private readonly MudTheme _defaultTheme = new()
    {
        Palette = new Palette
        {
            Primary = "#3f51b5",
            Secondary = "#606fc7",
            Tertiary = "#8560c7",
            Black = "#272c34",
            Background = "#f4f6f8",
            BackgroundGrey = "#e3e5e7",
            AppbarBackground = "#3949ab"
        }
    };

    private readonly MudTheme _darkTheme = new()
    {
        Palette = new Palette
        {
            Primary = "#3f51b5",
            Secondary = "#606fc7",
            Tertiary = "#8560c7",
            Black = "#27272f",
            Background = "#32333d",
            BackgroundGrey = "#27272f",
            Surface = "#373740",
            DrawerBackground = "#27272f",
            DrawerText = "rgba(255,255,255, 0.50)",
            AppbarBackground = "#27272f",
            AppbarText = "rgba(255,255,255, 0.70)",
            TextPrimary = "rgba(255,255,255, 0.70)",
            TextSecondary = "rgba(255,255,255, 0.50)",
            ActionDefault = "#adadb1",
            ActionDisabled = "rgba(255,255,255, 0.26)",
            ActionDisabledBackground = "rgba(255,255,255, 0.12)",
            DrawerIcon = "rgba(255,255,255, 0.50)"
        }
    };
}