VITE_OIDC_AUTHORITY=http://localhost:5000
VITE_OIDC_CLIENT_ID=elwark.account.web
VITE_OIDC_SCOPE=openid profile people:read people:write
VITE_OIDC_REDIRECT_URI=http://localhost:5005/authentication/login-callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5005
VITE_API_URL=http://localhost:5001
