::deep .avatar {
    width: 60px;
    height: 60px;
}

@media (min-width: 600px) {
    ::deep .avatar {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 960px) {
    ::deep .avatar {
        width: 100px;
        height: 100px;
    }
}


@media (min-width: 1280px) {
    ::deep .avatar {
        width: 120px;
        height: 120px;
    }
}
