<div style="width: 46px; height: 46px;" class="b-radius p-2 shadow text-white @GetBackground(Type)">
    <i style="width: 30px; height: 30px; vertical-align: middle;" class="text-center fa-2x @GetFontAwesomeIcon(Type)"></i>
</div>

@code
{
    [Parameter]
    public IdentificationType Type { get; set; }

    private static string GetFontAwesomeIcon(IdentificationType type) =>
        type switch {
            IdentificationType.Email => "fas fa-envelope",
            var x => $"fab fa-{x.ToString().ToLower()}"
            };

    private static string GetBackground(IdentificationType type) =>
        type switch{
            IdentificationType.Email => "bg-orange",
            var x => $"bg-{x.ToString().ToLowerInvariant()}"
            };
}