@using Elwark.Account.Web.Clients
@inject IAccountClient AccountClient
@inject AccountState State

<div class="container">
    <div class="row justify-content-center align-items-center mb-2">
        <div class="col-12">
            <div class="avatar-edit mx-auto mb-2">
                <img src="@Image" alt="Profile picture">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <EditForm Model="_model" OnValidSubmit="@OnChangeImage">
                <FluentValidator/>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <InputText type="text" @bind-Value="_model.Picture" class="form-control" placeholder="e.g. https://image.store/profile.png"/>
                        <div class="input-group-append">
                            <LoadingButton IsLoading="@State.IsLoading" Title="Save" Icon="fa-image" Type="submit"/>
                        </div>
                    </div>
                    <ValidationMessage For="@(() => _model.Picture)"/>
                </div>

            </EditForm>
        </div>
    </div>
</div>

@code {

    private PictureInputModel _model = new PictureInputModel();

    private string Image => string.IsNullOrWhiteSpace(_model.Picture)
        ? Picture
        : _model.Picture;

    [CascadingParameter]
    private BlazoredModalInstance BlazoredModal { get; set; } = null!;

    [Parameter]
    public string Picture { get; set; } = null!;

    private async Task OnChangeImage()
    {
        await State.UpdatePictureAsync(new Uri(_model.Picture));
    }

}