@using Elwark.Storage.Client.Model
@using Elwark.Storage.Client
@inject IElwarkStorageClient StorageClient;

@inherits InputSelect<string>

@if (_timezones is null)
{
    <select @attributes="AdditionalAttributes">
        <option selected="selected">Loading...</option>
    </select>
}
else
{
    <InputSelect Value="Value"
                 ValueChanged="@((string s) => ValueChanged.InvokeAsync(s))"
                 ValueExpression="ValueExpression"
                 AdditionalAttributes="AdditionalAttributes">
        <option value="">Choose...</option>
        @foreach (var timezone in _timezones)
        {
            <option value="@timezone.Zone">
                @timezone.Zone (@timezone.Gmt.Name)
            </option>
        }
    </InputSelect>
}

@code {
    private static IReadOnlyCollection<Timezone> _timezones;

    protected override async Task OnInitializedAsync()
    {
        _timezones ??= await StorageClient.Timezone.GetAllAsync();
    }
}