@using Elwark.Account.Shared.Account
@inject AccountState AccountState
@implements IDisposable;

<header class="app-header">
    <div class="top-nav">
        <nav class="navbar navbar-expand-md navbar-light bg-faded">
            <button @onclick="ToggleSidebar" type="button" class="m-r sidebar-toggle">
                <i class="fas fa-bars"></i>
            </button>

            <div class="ml-auto">
                <div class="media align-items-center">
                    @if (Account is {})
                    {
                        <div class="media-body mr-2 text-dark">
                            @Account.FullName
                        </div>
                        
                        <div class="avatar">
                            <img src="@Account.Picture" alt="@AccountState.Account.FullName">
                        </div>
                    }
                </div>
            </div>
        </nav>
    </div>
</header>

@code
{
    [Parameter]
    public EventCallback ToggleSidebar { get; set; }

    private AccountModel Account => AccountState.Account;

    protected override void OnInitialized() => 
        AccountState.OnChange += StateHasChanged;

    public void Dispose() =>
        AccountState.OnChange -= StateHasChanged;
}