<div class="row justify-content-between mb-3">
    <div class="col-9 mr-auto">
        <h2 class="mb-0">@Title</h2>
        @if (!string.IsNullOrEmpty(Subtitle))
        {
            <p class="text-muted">
                @Subtitle
            </p>
        }
    </div>
    <div class="col-auto">
        @HeaderAside
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Subtitle { get; set; }

    [Parameter]
    public RenderFragment HeaderAside { get; set; }

}