@inherits InputSelect<string>

@if (Values is null)
{
    <select @attributes="AdditionalAttributes">
        <option selected="selected">Loading...</option>
    </select>
}
else
{
    <InputSelect Value="Value"
                 ValueChanged="@((string s) => ValueChanged.InvokeAsync(s))"
                 ValueExpression="ValueExpression"
                 AdditionalAttributes="AdditionalAttributes">
        @if (IsOptional)
        {
            <option value="">Choose...</option>
        }

        @foreach (var (key, value) in Values)
        {
            <option value="@key">@value</option>
        }
    </InputSelect>
}

@code {

    [Parameter]
    public IReadOnlyDictionary<string, string> Values { get; set; }

    [Parameter]
    public bool IsOptional { get; set; }

}