@using System.Globalization
@inherits InputSelect<string>

<InputSelect Value="Value"
             ValueChanged="@((string s) => ValueChanged.InvokeAsync(s))"
             ValueExpression="ValueExpression"
             AdditionalAttributes="AdditionalAttributes">
    @foreach (var language in Languages)
    {
        <option value="@language.TwoLetterISOLanguageName">
            @language.EnglishName (@language.NativeName)
        </option>
    }
</InputSelect>

@code {

    private static readonly CultureInfo[] Languages =
    {
        new CultureInfo("en"),
        new CultureInfo("ru")
    };

}